# ----------------------
# Flask
# ----------------------
Flask
Flask-BasicAuth
flask-restplus
requests

# ----------------------
# Machine Learning modules
# ----------------------
scikit-learn
numpy
scipy
